img{
  display: block;
  padding: 10px;
  margin: 0 auto;
}
body {
   color: #A9A9A9;
   font-family:Helvetica;
   margin: 20px;
}

#video1 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
/* Add some content at the bottom of the video/page */
}
.content {
  position: relative;
  bottom: -80px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 20px;
  margin-bottom: 20px;


}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}


.header1 {
  padding: 60px;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 40px;
  position: relative;
  margin: auto;
  text-align:center;

}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.footer {
  position: relative;
  left: auto;
  bottom: -50px;
  width: 100%;
  background-color:black;
  color: white;
  text-align: center;
  align-items: flex-end;
  flex-direction: row;
}
#name1 {
  font-size: 15px;
  font-family: Luminari, fantasy;
}
#walks{
  color: black;
  
}

#bg {
            position: fixed;
            left: 30px;
            top: 20px;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            overflow: hidden;
            z-index: 1;
        }
#image {
  width: 100px;
  height: 100px;
}


.carousel {
  width:400px;
}

